/* Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* General styling */
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--offWhite);
}

* {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
}

main {
    margin: 0 150px;
}

:root {
    --navy: #222B41;
    --offWhite: #FFFAEC;
    --camel: #B38F67;
    --white: #ffff;
    --black: #000000;
    --smallGap: 1rem;
    --mediumGap: 2rem;
    --largeGap: 3rem;
    --largestGap: 4rem;
    --h1Size: 60px;
    --h2Size: 35px;
    --h3Size: 25px;
}

/* Styling af */
.btn {
    display: flex;
    gap: var(--mediumGap);
    border: none;
    padding: 0;
    background: none;
}

.btn-arrow {
    color: var(--camel);
    text-decoration: none;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

/* Tekst styling */

h1 {
    font-size: var(--h1Size);
    margin: var(--largestGap) 0 var(--mediumGap) 0;
    color: var(--navy);
    font-family: "Playfair Display", serif;

    width: fit-content;
    border-bottom: 2px solid var(--camel);
    padding-bottom: 0.5rem;
}

h2 {
    font-size: var(--h2Size);
    margin: var(--largestGap) 0 var(--mediumGap) 0;
    color: var(--navy);
    font-family: "Playfair Display", serif;
}


/* hero start */
.hero {
    border-bottom: 1px solid var(--black);
    padding-bottom: var(--largestGap);
}

.hero-text {
    max-width: 700px;
    font-size: 20px;
}

/* Blå boks med billede */

.blue-card {
    display: flex;
    width: 100%;
    height: 300px;
    padding-left: var(--largeGap);
    background-color: var(--navy);

    /* så billedet ikke overlapper andet på siden */
    margin-top: var(--largestGap);

    transition: transform 0.3s ease;
}

.blue-card-img {
    width: 50%;
    height: 375px;
    object-fit: cover;

    position: relative;
    top: -37.5px;
    /* Note til os selv - (fordi height på card er 300px og billedet er 375px) */
}

.blue-box {
    width: 100%;
    background-color: var(--navy);
    color: var(--white);
    padding: var(--largeGap);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue-card:hover {
    transform: scale(1.01);
}

.blue-box h3 {
    font-size: var(--h3Size);
    margin: 0 0 var(--mediumGap) 0;
}


.blue-box-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-arrow.blue-card-link {
    color: var(--white);
    text-decoration: none;
}

.btn-arrow:hover {
    color: var(--camel);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

/* Blå boks slutter */

/* Header start */


.header {
    width: 100%;
    background-color: var(--navy);
    padding: 0.5rem var(--largeGap);


    position: sticky;
    top: 0;
    z-index: 1000;

    transition: background-color 0.3s ease;
}

/* når man scroller */

.header.scrolled {
    background-color: rgba(61, 60, 60, 0.15);

}

/* Navigation og ikon bliver camel */
.header.scrolled .nav-links a {
    color: var(--camel);
}

.header.scrolled .user-login {
    color: var(--camel);
}

.header.scrolled .nav-links a:hover {
    color: var(--white);
}

.header.scrolled .user-login:hover {
    color: var(--white);
}

.nav {
    display: flex;
    align-items: center;
    gap: var(--largeGap);
}

.logo img {
    width: 80px;
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;

    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--camel);
}

.user-login:hover {
    color: var(--camel);
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: var(--mediumGap);
}

.search {
    position: relative;
}

.search input {
    width: 230px;
    padding: 8px 40px 8px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--white);
    outline: none;
}

.search i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--navy);
}

.user-login {
    color: var(--white);
    text-decoration: none;
}

/* header slut */
/* Focused Entry Points cards */
.fep-card-container {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    width: 100%;
    max-width: none;
    justify-content: space-between;
    margin-top: var(--largestGap);
}

.fep-card-content {
    position: relative;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
}

.fep-card-content:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

.fep-card-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fep-card-content::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.45));
}

.fep-card-text {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 30px;
    z-index: 1;
    color: white;
}

.fep-card-text h3 {
    margin: 0 0 5px;
    font-size: larger;
    font-weight: 700;
}

.fep-card-text p {
    margin: 0;
    font-weight: 400;
    font-size: small;
}

/* Recipe cards */
/* Placering af alle recipe cards */
.recipes-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--smallGap);
    width: 100%;
    padding-bottom: var(--largestGap);
    margin-bottom: var(--largestGap);
}

/* Det enkelte card */
.recipe-card {
    width: 100%;
}

/* Cardets billede */
.recipe-card-img {
    width: 100%;
    height: 250px;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.recipe-card-text {
    padding: 16px 2px 0;
}

.recipe-card-text>p:first-child {
    margin: 0 0 14px;
    font-weight: 400;
}

.recipe-card-text h3 {
    margin: 0 0 2px;
    line-height: 1.2;
    font-weight: 600;
}

.recipe-card-text>p:nth-of-type(2) {
    min-height: 48px;
    margin: 0 0 16px;
}

.recipe-card-text>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--smallGap);
    padding-top: 14px;
    border-top: 1px solid var(--black);
}

.recipe-card-text>div p {
    margin: 0;
}

.recipe-card-text>div a {
    color: var(--black);
    font-size: 22px;
    text-decoration: none;
}

/* Recipe filter */
.recipe-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 28px 0;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    margin: var(--largestGap) 0;
}

.recipe-filter-options {
    display: flex;
    align-items: center;
    gap: 80px;
}

.filter-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--smallGap);
    padding: 0 0 12px;
    color: var(--black);
    background: none;
    border: none;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.filter-button.active {
    color: var(--camel);
    font-weight: 700;
}

.filter-button i {
    font-size: 16px;
}

.recipe-count {
    margin: 0;
    font-weight: 400;
    white-space: nowrap;
    font-size: 16px;
}

/* Footer */
.site-footer {
    background-color: var(--navy);
    color: var(--white);
    padding: 32px 5%;
}

.footer-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: var(--largestGap);

    width: 100%;
    max-width: 1400px;
    min-height: 170px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 145px;
    height: auto;
    display: block;
}

.footer-column h3 {
    margin: 0 0 8px;
    color: var(--camel);
    font-size: 16px;
    font-weight: 600;
}

.footer-column ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column li {
    margin-bottom: var(--smallGap);
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    color: #c79b61;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-socials {
    display: flex;
    gap: var(--mediumGap);
}

.footer-socials a {
    color: var(--camel);
    font-size: 24px;
    text-decoration: none;
}

.footer-socials a:hover {
    color: var(--white);
}

.footer-right p {
    margin: 0;
}

/* ISABELLA START */
/* Food stories start */

/* Food stories slut */

/* single food story start */

/* lille author billede + navn */
.story-author {
    display: flex;
    align-items: center;
    gap: var(--smallGap);
    margin: var(--largeGap) 0;
}

.story-author img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.story-author p {
    color: var(--navy);
    font-size: 20px;
}


/* indhold */
.story-date {
    color: var(--camel);
    margin-bottom: 10px;
    font-style: italic;
    margin-top: 10px;
}

.food-story-container {
    display: grid;
    grid-template-columns: 4 / 1fr;
    gap: var(--largeGap);
}

.first-letter {
    font-size: var(--h2Size);
    color: var(--navy);
    font-family: "Playfair Display", serif;
}

.foodstory-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.foodstory-text {
    padding-bottom: var(--mediumGap) 0;
}

.foodstory-content {
    max-width: 700px;
}

.foodstory-content h3 {
    margin-bottom: 25px;
}

.foodstory-content .btn {
    margin-top: 25px;
}

/* single food story bar */
.progress {
    height: 5px;
    background: var(--camel);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: scroll;
    animation-timeline: scroll();
    transform-origin: left;

}


@keyframes scroll {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

/* single food story slut */

/* Single Tool */

.tool-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--largeGap);
    align-items: start;
}

/* ISABELLA SLUT */

/* FREJA START */
/* HP start */
.hero-homepage {
    position: relative;
    align-items: center;
    width: 100%;
    min-height: 500px;
    padding: var(--largestGap);
    background-image: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("./assets/img/sosey-interiors-YABErdnJPGc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-homepage-text h1 {
    color: var(--white);
    font-size: var(--h1Size);
}

.hero-homepage-text p {
    font-size: 20px;
    font-weight: 300;
}

.hero-homepage-text {
    width: 100%;
    max-width: 900px;
    color: var(--white);
}

.hero-scroll i {
    animation: bounce 1.5s ease-in-out infinite;
}

.hero-scroll {
    color: var(--white);
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s ease;
}

/* Hoppende pil */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.scrolled {
    opacity: 0;
    pointer-events: none;
}

.tools-homepage {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--largestGap);
    margin-top: 100px;
    padding-top: var(--largestGap);
    border-top: 1px solid var(--black);
}

.tools-homepage h2 {
    margin-top: 0;
    margin-bottom: var(--smallGap);
}

.tool-img-container {
    display: flex;
    gap: var(--mediumGap);
}

.tool-img-hp {
    width: 250px;
    height: 500px;
}

.tools-homepage p {
    padding-bottom: var(--largestGap);
}

/* HP slut */

/* Single recipe start */
.all-recipes-arrow {
    margin-top: var(--largestGap);
}

.all-recipes-arrow a {
    color: var(--camel);
    text-decoration: none;
    font-weight: 700;
}

.hero-label {
    margin-top: var(--largestGap);
    font-size: 18px;
    font-weight: 500;
}

.recipe-hero {
    position: relative;
    padding-right: 450px;
    min-height: 320px;
}

.hero-recipe-img {
    position: absolute;
    top: 0;
    right: 0;

    width: 400px;
    height: 290px;
}

.hero-recipe-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text-recipe {
    margin-top: 0;
}

.recipe-author {
    margin-top: var(--smallGap);
}

/* Informations række til hver enkelt opskrift */
.recipe-meta-info {
    display: flex;
    gap: var(--largestGap);
    margin-bottom: var(--largestGap);
}

.meta-info p:first-child {
    margin-bottom: 0.5rem;
    color: var(--camel);
    font-weight: 600;
    font-size: small;
}

.meta-info p:last-child {
    color: var(--navy);
    font-size: 20px;
    font-weight: 700;
}

/* Recipe details styling */
.recipe-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--largestGap) 0;
}

.recipe-details h3 {
    margin: 0 0 var(--mediumGap);
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 500;
}

/* Ingredients */

.ingredients {
    padding-right: var(--largeGap);
}

.portions {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: var(--mediumGap);
}

.portions p {
    margin: 0 10px 0 0;
}

.portions button {
    width: 34px;
    height: 34px;

    background-color: var(--camel);
    border: none;
    border-radius: 8px;

    font-size: 20px;
    cursor: pointer;
}

.portions span {
    width: 110px;
    padding: 3px;
    background-color: var(--white);
    text-align: center;
    border: 1px solid var(--black);
    border-radius: 8px;
}

.ingredients ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ingredients li {
    margin-bottom: var(--smallGap);
}

/* Method styling */
.method {
    padding-left: var(--largeGap);
    border-left: 2px solid var(--navy);
}

.method ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: method;
}

.method li {
    position: relative;
    padding-left: var(--largeGap);
    margin-bottom: var(--largeGap);
    counter-increment: method;
}

.method li::before {
    content: counter(method) ".";
    position: absolute;
    top: 0;
    left: 0;
}

/* Tip sektion within recipe */
.tip-card {
    margin: 140px 0;
}

.recipe-tip h3 {
    color: var(--camel);
    font-size: 15px;
}

.recipe-tip p {
    font-size: 20px;
}

/* Tool essentials in recipe */
.recipe-essentials {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: start;
    gap: var(--largeGap);

    margin-bottom: var(--largestGap);
}

.essentials-intro {
    padding-right: var(--largeGap);
}

.essentials-intro h2 {
    margin: 0 0 var(--mediumGap);
    max-width: 480px;
}

.essentials-intro p {
    margin: 0 0 var(--mediumGap);
    font-size: 20px;
}

.essential-card img {
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.essential-card h3 {
    margin: var(--smallGap) 0 2px;
    font-size: 18px;
}

.essential-card>p {
    min-height: 48px;
    margin: 0 0 var(--smallGap);
}

.essential-card>div {
    padding-top: var(--smallGap);
    border-top: 1px solid var(--black);
}

.essential-card>div p {
    margin: 0;
    font-size: 14px;
}

/* Related recipes */
.related-recipes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--largestGap);
    margin-bottom: var(--largestGap);
}

.related-recipe img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.author-related-recipe {
    font-weight: 300;
    margin: var(--smallGap) 0;
}

/* TOOLS START */
.tools-hero {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: var(--largestGap);

    min-height: 450px;
    padding: var(--largestGap) 0;
}

.tools-hero .hero-text h1 {
    margin-top: 0;
}

.tools-hero-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--smallGap);

    max-width: 550px;
    margin-left: auto;
}

.tools-hero-images img {
    display: block;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.tip-of-the-week {
    color: var(--camel);
    font-weight: 600;
}

.tools-filter {
    margin-bottom: var(--mediumGap);
}

/* Login Pop up */
.account-overlay {
    position: fixed;
    inset: 0;
    z-index: 1999;

    background-color: rgba(0, 0, 0, 0.6);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity 0.4s ease,
        visibility 0.4s ease;
}

.account-overlay.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.account-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    width: 40%;
    min-width: 450px;
    height: 100vh;
    padding: var(--mediumGap) var(--largestGap);

    color: var(--black);
    background-color: var(--offWhite);
    overflow-y: auto;

    transform: translateX(100%);
    transition: transform 0.4s ease;
}

.account-panel.open {
    transform: translateX(0);
}

.close-account {
    position: absolute;
    top: 25px;
    right: 30px;

    padding: 0;
    color: var(--navy);
    background: none;
    border: none;

    font-size: 28px;
    cursor: pointer;
}

.account-panel h2 {
    margin: 20px 0 var(--smallGap);
    color: var(--navy);
    font-family: "Playfair Display", serif;
}

.account-panel>p {
    margin: 0 0 var(--largeGap);
}

.account-form {
    display: flex;
    flex-direction: column;
    gap: var(--mediumGap);
}

.account-form>label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-weight: 600;
}

.account-form input[type="text"],
.account-form input[type="email"],
.account-form input[type="password"] {
    width: 100%;
    padding: 12px;

    background-color: var(--white);
    border: 2px solid var(--navy);

    font-family: inherit;
    font-size: 16px;
}

.cook-level {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    border: none;
}

.cook-level legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.cook-level label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    font-weight: 500;
}

.create-account {
    width: 100%;
    padding: 14px;

    color: var(--white);
    background-color: var(--navy);
    border: none;

    font-family: inherit;
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
}

.account-login {
    align-self: center;

    color: var(--camel);
    font-weight: 600;
    text-decoration: none;
}

/* FREJA SLUT */