/* Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* General styling */
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--offWhite);
}

* {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
}

main {
    max-width: 1200px;
    margin: 0 150px;
}

:root {
    --navy: #222B41;
    --offWhite: #FFFAEC;
    --camel: #B38F67;
    --white: #ffff;
    --black: #000000;
    --smallGap: 1rem;
    --mediumGap: 2rem;
    --largeGap: 3rem;
    --largestGap: 4rem;
    --h1Size: 60px;
    --h2Size: 35px;
    --h3Size: 25px;
}

/* Styling af */
.btn {
    display: flex;
    gap: var(--mediumGap);
    border: none;
    padding: 0;
    background: none;
}

.btn-arrow {
    color: var(--camel);
    text-decoration: none;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

/* Hover-effekt og markering af den aktive side i navigationen */
.current-menu-item a,
.current-menu-item a:hover {
    color: var(--camel);
}

/* Tekst styling */

h1 {
    font-size: var(--h1Size);
    margin: var(--largestGap) 0 var(--mediumGap) 0;
    color: var(--navy);
    font-family: "Playfair Display", serif;

    width: fit-content;
    border-bottom: 2px solid var(--camel);
    padding-bottom: 0.5rem;
}

h2 {
    font-size: var(--h2Size);
    margin: var(--largestGap) 0 var(--mediumGap) 0;
    color: var(--navy);
    font-family: "Playfair Display", serif;
}


/* hero start */
.hero {
    border-bottom: 1px solid var(--black);
    padding-bottom: var(--largestGap);
}

.hero-text {
    max-width: 700px;
    font-size: 20px;
}

/* Blå boks med billede */

.blue-card {
    display: flex;
    width: 100%;
    height: 300px;
    padding-left: var(--largeGap);
    background-color: var(--navy);

    /* så billedet ikke overlapper andet på siden */
    margin-top: var(--largestGap);
}

.blue-card-img {
    width: 50%;
    height: 375px;
    object-fit: cover;

    position: relative;
    top: -37.5px;
    /* Note til os selv - (fordi height på card er 300px og billedet er 375px) */
}

.blue-box {
    width: 100%;
    background-color: var(--navy);
    color: var(--white);
    padding: var(--largeGap);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue-box h3 {
    font-size: var(--h3Size);
    margin: 0 0 var(--mediumGap) 0;
}


.blue-box-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-arrow.blue-card-link {
    color: var(--white);
    text-decoration: none;
}

.btn-arrow.blue-card-link:hover {
    color: var(--camel);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

/* Blå boks slutter */

/* Header start */


.header {
    width: 100%;
    background-color: var(--navy);
    padding: 0.5rem var(--largeGap);


    position: sticky;
    top: 0;
    z-index: 1000;

    transition: background-color 0.3s ease;
}

/* når man scroller */

.header.scrolled {
    background-color: rgba(61, 60, 60, 0.15);

}

/* Navigation og ikon bliver camel */
.header.scrolled .nav-links a {
    color: var(--camel);
}

.header.scrolled .user-login {
    color: var(--camel);
}

.header.scrolled .nav-links a:hover {
    color: var(--white);
}

.header.scrolled .user-login:hover {
    color: var(--white);
}

.nav {
    display: flex;
    align-items: center;
    gap: var(--largeGap);
}

.logo img {
    width: 80px;
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;

    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--camel);
}

.user-login:hover {
    color: var(--camel);
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: var(--mediumGap);
}

.search {
    position: relative;
}

.search input {
    width: 230px;
    padding: 8px 40px 8px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--white);
    outline: none;
}

.search i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--navy);
}

.user-login {
    color: var(--white);
    text-decoration: none;
}

/* header slut */
/* Focused Entry Points cards */
.fep-card-container {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    width: 100%;
    max-width: none;
    justify-content: space-between;
    margin-top: var(--largestGap);
}

.fep-card-content {
    position: relative;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
}

.fep-card-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fep-card-content::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.45));
}

.fep-card-text {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 30px;
    z-index: 1;
    color: white;
}

.fep-card-text h3 {
    margin: 0 0 5px;
    font-size: larger;
    font-weight: 700;
}

.fep-card-text p {
    margin: 0;
    font-weight: 400;
    font-size: small;
}

/* Recipe cards */
/* Placering af alle recipe cards */
.recipes-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--smallGap);
    width: 100%;
    padding-bottom: var(--largestGap);
    margin-bottom: var(--largestGap);
}

/* Det enkelte card */
.recipe-card {
    width: 100%;
}

/* Cardets billede */
.recipe-card-img {
    width: 100%;
    height: 250px;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.recipe-card-text {
    padding: 16px 2px 0;
}

.recipe-card-text>p:first-child {
    margin: 0 0 14px;
    font-weight: 400;
}

.recipe-card-text h3 {
    margin: 0 0 2px;
    line-height: 1.2;
    font-weight: 600;
}

.recipe-card-text>p:nth-of-type(2) {
    min-height: 48px;
    margin: 0 0 16px;
}

.recipe-card-text>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--smallGap);
    padding-top: 14px;
    border-top: 1px solid var(--black);
}

.recipe-card-text>div p {
    margin: 0;
}

.recipe-card-text>div a {
    color: var(--black);
    font-size: 22px;
    text-decoration: none;
}

/* Recipe filter */
.recipe-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 28px 0;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    margin: var(--largestGap) 0;
}

.recipe-filter-options {
    display: flex;
    align-items: center;
    gap: 80px;
}

.filter-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--smallGap);
    padding: 0 0 12px;
    color: black;
    background: none;
    border: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.filter-button i {
    font-size: 16px;
}

.filter-button.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 45px;
    height: 3px;
    background-color: var(--camel);
}

.recipe-count {
    margin: 0;
    font-weight: 400;
    white-space: nowrap;
    font-size: 16px;
}

/* Footer */
.site-footer {
    background-color: var(--navy);
    color: var(--white);
    padding: 32px 5%;
}

.footer-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: var(--largestGap);

    width: 100%;
    max-width: 1400px;
    min-height: 170px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 145px;
    height: auto;
    display: block;
}

.footer-column h3 {
    margin: 0 0 8px;
    color: var(--camel);
    font-size: 16px;
    font-weight: 600;
}

.footer-column ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column li {
    margin-bottom: var(--smallGap);
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    color: #c79b61;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-socials {
    display: flex;
    gap: var(--mediumGap);
}

.footer-socials a {
    color: var(--camel);
    font-size: 24px;
    text-decoration: none;
}

.footer-socials a:hover {
    color: var(--white);
}

.footer-right p {
    margin: 0;
}

/* ISABELLA START */
/* Food stories start */

/* Food stories slut */

/* single food story start */

/* lille author billede + navn */
.story-author {
    display: flex;
    align-items: center;
    gap: var(--smallGap);
    margin: var(--largeGap) 0;
}

.story-author img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.story-author p {
    color: var(--navy);
    font-size: 20px;
}


/* indhold */

.food-story-container {
    display: grid;
    grid-template-columns: 4 / 1fr;
    gap: var(--largeGap);
}

.food-story .p {
    color: green;
}

.foodstory-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: var(--mediumGap);
}



/* single food story slut */

/* ISABELLA SLUT */

/* FREJA START */
/* HP start */
.hero-homepage {
    position: relative;
    align-items: center;
    width: 100%;
    min-height: 500px;
    padding: var(--largestGap);
    background-image: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("./assets/img/sosey-interiors-YABErdnJPGc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-homepage-text h1 {
    color: var(--white);
    font-size: var(--h1Size);
}

.hero-homepage-text p {
    font-size: 20px;
    font-weight: 300;
}

.hero-homepage-text {
    width: 100%;
    max-width: 900px;
    color: var(--white);
}

.hero-scroll i {
    animation: bounce 1.5s ease-in-out infinite;
}

.hero-scroll {
    color: var(--white);
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s ease;
}

/* Hoppende pil */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.scrolled {
    opacity: 0;
    pointer-events: none;
}

.tools-homepage {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--largestGap);
    margin-top: 100px;
    padding-top: var(--largestGap);
    border-top: 1px solid var(--black);
}

.tools-homepage h2 {
    margin-top: 0;
    margin-bottom: var(--smallGap);
}

.tool-img-container {
    display: flex;
    gap: var(--mediumGap);
}

.tool-img-hp {
    width: 250px;
    height: 500px;
}

.tools-homepage p {
    padding-bottom: var(--largestGap);
}

/* HP slut */
/* FREJA SLUT */